html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.ww-serif{font-family:serif}.ww-sans-serif{font-family:sans-serif}.ww-cursive{font-family:cursive}.ww-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.ww-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.ww-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.ww-table,.ww-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.ww-table-all{border:1px solid #ccc}
.ww-bordered tr,.ww-table-all tr{border-bottom:1px solid #ddd}.ww-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.ww-table-all tr:nth-child(odd){background-color:#fff}.ww-table-all tr:nth-child(even){background-color:#f1f1f1}
.ww-hoverable tbody tr:hover,.ww-ul.ww-hoverable li:hover{background-color:#ccc}.ww-centered tr th,.ww-centered tr td{text-align:center}
.ww-table td,.ww-table th,.ww-table-all td,.ww-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ww-table th:first-child,.ww-table td:first-child,.ww-table-all th:first-child,.ww-table-all td:first-child{padding-left:16px}
.ww-btn,.ww-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.ww-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.ww-btn,.ww-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.ww-disabled,.ww-btn:disabled,.ww-button:disabled{cursor:not-allowed;opacity:0.3}.ww-disabled *,:disabled *{pointer-events:none}
.ww-btn.ww-disabled:hover,.ww-btn:disabled:hover{box-shadow:none}
.ww-badge,.ww-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.ww-badge{border-radius:50%}
.ww-ul{list-style-type:none;padding:0;margin:0}.ww-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.ww-ul li:last-child{border-bottom:none}
.ww-tooltip,.ww-display-container{position:relative}.ww-tooltip .ww-text{display:none}.ww-tooltip:hover .ww-text{display:inline-block}
.ww-ripple:active{opacity:0.5}.ww-ripple{transition:opacity 0s}
.ww-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.ww-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.ww-dropdown-click,.ww-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ww-dropdown-hover:hover .ww-dropdown-content{display:block}
.ww-dropdown-hover:first-child,.ww-dropdown-click:hover{background-color:#ccc;color:#000}
.ww-dropdown-hover:hover > .ww-button:first-child,.ww-dropdown-click:hover > .ww-button:first-child{background-color:#ccc;color:#000}
.ww-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.ww-check,.ww-radio{width:24px;height:24px;position:relative;top:6px}
.ww-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.ww-bar-block .ww-dropdown-hover,.ww-bar-block .ww-dropdown-click{width:100%}
.ww-bar-block .ww-dropdown-hover .ww-dropdown-content,.ww-bar-block .ww-dropdown-click .ww-dropdown-content{min-width:100%}
.ww-bar-block .ww-dropdown-hover .ww-button,.ww-bar-block .ww-dropdown-click .ww-button{width:100%;text-align:left;padding:8px 16px}
.ww-main,#main{transition:margin-left .4s}
.ww-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ww-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.ww-bar{width:100%;overflow:hidden}.ww-center .ww-bar{display:inline-block;width:auto}
.ww-bar .ww-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.ww-bar .ww-dropdown-hover,.ww-bar .ww-dropdown-click{position:static;float:left}
.ww-bar .ww-button{white-space:normal}
.ww-bar-block .ww-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.ww-bar-block.ww-center .ww-bar-item{text-align:center}.ww-block{display:block;width:100%}
.ww-responsive{display:block;overflow-x:auto}
.ww-container:after,.ww-container:before,.ww-panel:after,.ww-panel:before,.ww-row:after,.ww-row:before,.ww-row-padding:after,.ww-row-padding:before,
.ww-cell-row:before,.ww-cell-row:after,.ww-clear:after,.ww-clear:before,.ww-bar:before,.ww-bar:after{content:"";display:table;clear:both}
.ww-col,.ww-half,.ww-third,.ww-twothird,.ww-threequarter,.ww-quarter{float:left;width:100%}
.ww-col.s1{width:8.33333%}.ww-col.s2{width:16.66666%}.ww-col.s3{width:24.99999%}.ww-col.s4{width:33.33333%}
.ww-col.s5{width:41.66666%}.ww-col.s6{width:49.99999%}.ww-col.s7{width:58.33333%}.ww-col.s8{width:66.66666%}
.ww-col.s9{width:74.99999%}.ww-col.s10{width:83.33333%}.ww-col.s11{width:91.66666%}.ww-col.s12{width:99.99999%}
@media (min-width:601px){.ww-col.m1{width:8.33333%}.ww-col.m2{width:16.66666%}.ww-col.m3,.ww-quarter{width:24.99999%}.ww-col.m4,.ww-third{width:33.33333%}
.ww-col.m5{width:41.66666%}.ww-col.m6,.ww-half{width:49.99999%}.ww-col.m7{width:58.33333%}.ww-col.m8,.ww-twothird{width:66.66666%}
.ww-col.m9,.ww-threequarter{width:74.99999%}.ww-col.m10{width:83.33333%}.ww-col.m11{width:91.66666%}.ww-col.m12{width:99.99999%}}
@media (min-width:993px){.ww-col.l1{width:8.33333%}.ww-col.l2{width:16.66666%}.ww-col.l3{width:24.99999%}.ww-col.l4{width:33.33333%}
.ww-col.l5{width:41.66666%}.ww-col.l6{width:49.99999%}.ww-col.l7{width:58.33333%}.ww-col.l8{width:66.66666%}
.ww-col.l9{width:74.99999%}.ww-col.l10{width:83.33333%}.ww-col.l11{width:91.66666%}.ww-col.l12{width:99.99999%}}
.ww-rest{overflow:hidden}.ww-stretch{margin-left:-16px;margin-right:-16px}
.ww-content,.ww-auto{margin-left:auto;margin-right:auto}.ww-content{max-width:980px}.ww-auto{max-width:1140px}
.ww-cell-row{display:table;width:100%}.ww-cell{display:table-cell}
.ww-cell-top{vertical-align:top}.ww-cell-middle{vertical-align:middle}.ww-cell-bottom{vertical-align:bottom}
.ww-hide{display:none!important}.ww-show-block,.ww-show{display:block!important}.ww-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.ww-auto{max-width:95%}}
@media (max-width:600px){.ww-modal-content{margin:0 10px;width:auto!important}.ww-modal{padding-top:30px}
.ww-dropdown-hover.ww-mobile .ww-dropdown-content,.ww-dropdown-click.ww-mobile .ww-dropdown-content{position:relative}	
.ww-hide-small{display:none!important}.ww-mobile{display:block;width:100%!important}.ww-bar-item.ww-mobile,.ww-dropdown-hover.ww-mobile,.ww-dropdown-click.ww-mobile{text-align:center}
.ww-dropdown-hover.ww-mobile,.ww-dropdown-hover.ww-mobile .ww-btn,.ww-dropdown-hover.ww-mobile .ww-button,.ww-dropdown-click.ww-mobile,.ww-dropdown-click.ww-mobile .ww-btn,.ww-dropdown-click.ww-mobile .ww-button{width:100%}}
@media (max-width:768px){.ww-modal-content{width:500px}.ww-modal{padding-top:50px}}
@media (min-width:993px){.ww-modal-content{width:900px}.ww-hide-large{display:none!important}.ww-sidebar.ww-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.ww-hide-medium{display:none!important}}
@media (max-width:992px){.ww-sidebar.ww-collapse{display:none}.ww-main{margin-left:0!important;margin-right:0!important}.ww-auto{max-width:100%}}
.ww-top,.ww-bottom{position:fixed;width:100%;z-index:1}.ww-top{top:0}.ww-bottom{bottom:0}
.ww-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.ww-display-topleft{position:absolute;left:0;top:0}.ww-display-topright{position:absolute;right:0;top:0}
.ww-display-bottomleft{position:absolute;left:0;bottom:0}.ww-display-bottomright{position:absolute;right:0;bottom:0}
.ww-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.ww-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.ww-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.ww-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ww-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ww-display-container:hover .ww-display-hover{display:block}.ww-display-container:hover span.ww-display-hover{display:inline-block}.ww-display-hover{display:none}
.ww-display-position{position:absolute}
.ww-circle{border-radius:50%}
.ww-round-small{border-radius:2px}.ww-round,.ww-round-medium{border-radius:4px}.ww-round-large{border-radius:8px}.ww-round-xlarge{border-radius:16px}.ww-round-xxlarge{border-radius:32px}
.ww-row-padding,.ww-row-padding>.ww-half,.ww-row-padding>.ww-third,.ww-row-padding>.ww-twothird,.ww-row-padding>.ww-threequarter,.ww-row-padding>.ww-quarter,.ww-row-padding>.ww-col{padding:0 8px}
.ww-container,.ww-panel{padding:0.01em 16px}.ww-panel{margin-top:16px;margin-bottom:16px}
.ww-card,.ww-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.ww-card-4,.ww-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.ww-opacity,.ww-hover-opacity:hover{opacity:0.60}.ww-opacity-off,.ww-hover-opacity-off:hover{opacity:1}
.ww-opacity-max{opacity:0.25}.ww-opacity-min{opacity:0.75}
.ww-greyscale-max,.ww-grayscale-max,.ww-hover-greyscale:hover,.ww-hover-grayscale:hover{filter:grayscale(100%)}
.ww-greyscale,.ww-grayscale{filter:grayscale(75%)}.ww-greyscale-min,.ww-grayscale-min{filter:grayscale(50%)}
.ww-sepia{filter:sepia(75%)}.ww-sepia-max,.ww-hover-sepia:hover{filter:sepia(100%)}.ww-sepia-min{filter:sepia(50%)}
.ww-left-align{text-align:left!important}.ww-right-align{text-align:right!important}.ww-justify{text-align:justify!important}.ww-center{text-align:center!important}
.ww-topbar{border-top:6px solid #ccc!important}.ww-bottombar{border-bottom:6px solid #ccc!important}
.ww-padding-16{padding-top:16px!important;padding-bottom:16px!important}.ww-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.ww-padding-32{padding-top:32px!important;padding-bottom:32px!important}.ww-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.ww-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.ww-padding-top-64{padding-top:64px!important}.ww-padding-top-48{padding-top:48px!important}
.ww-padding-top-32{padding-top:32px!important}.ww-padding-top-24{padding-top:24px!important}
.ww-left{float:left!important}.ww-right{float:right!important}
.ww-button:hover{color:#000!important;background-color:#ccc!important}
.ww-transparent,.ww-hover-none:hover{background-color:transparent!important}
.ww-hover-none:hover{box-shadow:none!important}
.ww-blue,.ww-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ww-red,.ww-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ww-yellow,.ww-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ww-text-blue,.ww-hover-text-blue:hover{color:#2196F3!important}
.ww-text-red,.ww-hover-text-red:hover{color:#f44336!important}
.ww-text-yellow,.ww-hover-text-yellow:hover{color:#d2be0e!important}